header {
  grid-area: hd;
  background-image: linear-gradient(180deg, #feb7d0, #fbf5f4);
  font-family: "Raleway", sans-serif;
}
h1 {
  font: 3rem "Sacramento", cursive;
  text-decoration: underline dashed 1.5px;
  text-shadow: 1.5px 1.5px 2px white;
  color: gray;
  margin: 10px;
}
h3 {
  margin: 15px;
  font-size: 2rem;
}
.subtitle {
  font-size: 1.15rem;
  font-weight: 200;
  text-shadow: 1px 1px white;
}
li{
  display: inline;
  padding: 10px;
}
.navbar {
  color: #ee85ac;
}
.navbar:hover,
.navbar:active {
  color: #e36191;
}
