@import url("header.css");
@import url("footer.css");
@import url("commom.css");
.cont-post{
    grid-template-rows: 1fr 2fr 1fr 0.5fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "hd hd"
    "sb main"
    "ad main"
    "ft ft";
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.2rem;
    margin: 5px;
}
main{
    grid-area: main;
    border: thin dashed lightgray;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 4px lightgray;
    background-color: rgba(254, 252, 237, 0.605);
    margin: 15px;
    position: relative;
}
.post-detail{
    max-height: 65%;
    padding: 10px;
    overflow: scroll;
}
.author{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.avatar{
    width: 7%;
    border-radius: 50%;
}
.sidebar{
    grid-area: sb;
    padding: 10px;
    border: 1px dashed #fca7c5;
    border-radius: 10px;
    box-shadow: 1px 1px 4px lightgray;
    background-color: rgba(254, 252, 237, 0.605);
    margin: 15px 0 0 15px;
}
.sidebar-p{
    font-size: 0.9rem;
    font-weight: 100;
    font-style: italic;
}
.main-page{
    display: none;
}
.sidebar a{
    color: #EE85AC;
}
.sidebar a:hover, .sidebar a:active {
    color: #E36191;
}
.ads{
    grid-area: ad;
    margin: 10px;
}
.ad{
    border-radius: 50%;
    width: 25%;
}
@media (max-width: 1024px){
    .cont-post{
    grid-template-rows: 1fr 2fr 0.5fr 0.5fr 0.4fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "hd"
    "main"
    "sb"
    "ad"
    "ft";
    }
    h4{
        margin:auto;
    }
    .post-detail{
        max-height: 80%;
    }
    .sidebar{
        margin: 0 10px;
    }
    .ad{
        width: 10%;
    }
}
@media (max-width: 600px){
    .sidebar-p{
        display: none;
    }
    .main-page{
        display: initial;
    }
}